<!DOCTYPE html>
<html>

<head>
    <title> 8 balls</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./index.js"></script>
</head>

<body>
    <div class="container">

        <form id="ball">
            <h1 id="head">:)</h1>
            <label id="label">Question</label>
            <input type="text" id="texter" value="">
            <input type="submit" value="Ask 8 Ball">
        </form>

    </div>

</body>

</html>